.slider-main-div {
  width: 540px;
  height: 100%;
  margin: auto;
  box-shadow: 10px 10px 20px rgba(112, 111, 111, 0.4);
  overflow: scroll;
  border-radius: 20px;
  scroll-behavior: smooth;
}

.slider-main-div::-webkit-scrollbar {
  display: none;
}

.slider-tiles-container {
  display: flex;
  gap: 20px;
  /* cursor: pointer; */
  scroll-behavior: smooth;
}

.slider-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 540px;
  z-index: 100;
  padding: 20px;
}

/* .slider-tile:  */
.slider-img {
  width: 130px;
}

.owl-dot-section {
  height: 40px;
  display: flex;
  gap: 10px;
}

.slider-name {
  font-size: 18px;
  padding: 15px 16px;
}

.slider-user-info {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #999999;
}

.slider-title {
  font-size: 18px;
  font-weight: 700;
  padding-top: 8px;
  text-align: center;
}

.slider-desc {
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
  color: #414141;
  text-align: center;
}

@media (max-width: 600px) {
  .slider-main-div {
    width: 100%;
    height: fit-content;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(112, 111, 111, 0.4);
    overflow: hidden;
  }

  .slider-tiles-container {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  .slider-tile {
    gap: 0px;
    min-width: 340px;
  }

  .slider-img {
    width: 60px;
  }

  .slider-desc {
    margin-top: 20px;
  }
}
